<form action="/songs/<%=@song.id%>" method="post">
  <input type="hidden" name="_method" value="patch">
Name:  <input type="text" name="name" value="<%=@song.name%>">
Artist:  <input type="text" name="artist" value="<%=@song.artist%>">
Fire:  <input type="text" name="fire" value="<%=@song.fire%>">
  <input type="submit" value="submit">
</form>
