<form action="/songs" method="post">
Name:  <input type="text" name="name" placeholder="enter song name">
Artist:  <input type="text" name="artist" placeholder="enter artist">
Fire:  <input type="text" name="fire" placeholder="fire or nah">
  <input type="submit" value="submit">
</form>
